body{
  background-color: #5F9EA0;
  text-align: center;
  font-family: 'Murecho', sans-serif;
}

#title{
  padding-top: 60px;
}

#trumpet{
  padding: 80px 0px;
}


.btn-div{
  flex: 1;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.notes{
  width: 80%;
  height: 90px;
  font-family: 'Murecho', sans-serif;
  font-size: 40px;
  border-radius: 12px;
}

.buttons{
  /* width: 100%;
  height: 20px; */
  display: flex;
  /* background-color: red; */
  /* padding: 10px; */
}
